@media all and (max-width: 1024px) {
  #taille_global {
    width: 500px;
  }

  /*HEADER*/

  header {
    width: 365px;
  }

  #menu {
    width: 350px;
  }

  #menu a {
    font-size: 1.2em;
  }

  .Heb /*positionnement du lien Hebergement*/ {
    position: absolute;
    margin-top: 70px;
    margin-left: -140px;
    border-bottom: #0065fc solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  #lien2 /*positionnement du lien Activite*/ {
    position: absolute;
    margin-top: 70px;
    margin-left: 75px;
    border-bottom: #f2f2f2 solid;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 10px;
  }

  #Ins /*positionnement du lien s'inscrire*/ {
    position: absolute;
    margin-left: 100px;
  }

  #titre {
    width: 350px;
    text-align: center;
    margin-left: -20px;
    margin-top: 100px;
  }

  #rechercher {
    width: 250px;
  }

  #bouton_rechercher/*bouton version desktop*/ {
    display: none;
  }

  #bouton_rechercher2 /*travail sur l'icone rechercher*/ {
    font-size: 1.1em;
    background-color: #0065fc;
    color: white;
    width: 60px;
    height: 55px;
    border: none;
    border-radius: 20px;
    margin-left: -10px;
  }

  #barre_de_recherche {
    width: 360px;
    margin-top: 30px;
  }

  #filtre {
    display: flex;
    flex-direction: column;
  }

  #filtre ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 170px;
    margin-left: -30px;
  }

  #famille {
    align-self: flex-end;
    margin-top: -65px;
  }

  #information {
    width: 350px;
  }

  #info {
    width: 25px;
  }

  /*ARTICLE ET ASIDE HEBERGEMENT*/

  #herbegement_et_populaire {
    display: flex;
    flex-direction: column-reverse;
  }

  #populaire {
    margin-left: 0px;
  }

  #hebergement /*background de la partie hebergement*/ {
    width: 430px;
    height: 1500px;
    background-color: white;
    margin-top: 10px;
  }

  #img_heberg /*placement des images dans le bloc*/ {
    flex-direction: column;
    margin-top: 10px;
  }

  .img_logement /*image rogner*/ {
    width: 355px;
  }

  #hebergement img {
    width: 380px;
  }

  .img_haut /*placement des images dans la case*/ {
    margin-top: -80px;
  }

  #hotel_de_la_mer {
    margin-top: -120px;
  }

  #le_panier {
    margin-top: -50px;
  }

  #chez_amina {
    margin-top: -230px;
  }

  #hebergement figcaption {
    width: 347px;
  }

  #hebergement figure {
    margin-top: 0px;
    width: 365px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #f2f2f2;
  }

  #hebergement p {
    font-size: 1.2em;
  }

  #populaire {
    border-radius: 0px;
  }

  /*ACTIVITE*/

  #bloc_activite1 {
    width: 355px;
    height: 800px;
  }

  #bloc_activite2 {
    width: 355px;
    height: 800px;
    margin-top: -15px;
  }

  #bloc_activite_total {
    flex-direction: column;
  }

  #activite /*placement de la partie activite*/ {
    margin-left: 35px;
    margin-top: 70px;
  }

  #activite figure {
    width: 355px;
  }

  #vieux_port > div {
    height: 160px;
    width: 355px;
  }

  #img_vieuxport {
    width: 400px;
    margin-left: 0px;
  }

  #pomegues > div {
    height: 160px;
    width: 355px;
  }

  #frioul > div {
    height: 160px;
    width: 355px;
  }

  #img_frioul {
    margin-left: -20px;
    margin-top: -20px;
  }

  #calanques > div {
    height: 160px;
    width: 355px;
  }

  #img_calanques {
    width: 380px;
    margin-left: 0px;
    margin-top: -20px;
  }

  #calanques {
    margin-left: -5px;
  }

  #garde > div {
    height: 160px;
    width: 355px;
  }

  #longchamp > div {
    height: 160px;
    width: 355px;
  }

  #img_longchamp {
    width: 380px;
    margin-left: -20px;
  }

  /*FOOTER VERSION MOBILE*/

  footer {
    width: 400px;
    height: 500px;
    margin-left: 10px;
    margin-top: 0px;
  }

  footer > div {
    flex-direction: column;
  }
}
