@media screen and (max-width: 600px) {
  #taille_global {
    width: auto;
    margin-left: 20px;
  }

  /*HEADER*/

  #logo {
    margin-left: 15px;
  }

  #menu {
    width: 400px;
    margin-left: 100px;
  }

  #menu a {
    font-size: 1.4em;
  }

  .Heb /*positionnement du lien Hebergement*/ {
    position: absolute;
    margin-top: 80px;
    margin-left: -250px;
    border-bottom: #0065fc solid;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 10px;
  }

  #lien2 /*positionnement du lien Activite*/ {
    position: absolute;
    margin-top: 80px;
    margin-left: 0px;
    border-bottom: #f2f2f2 solid;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;
  }

  #Ins /*positionnement du lien s'inscrire*/ {
    position: absolute;
    margin-left: 20px;
  }

  #titre {
    width: 450px;
    text-align: center;
    margin-left: -20px;
    margin-top: 120px;
    font-size: 1.3em;
  }

  #loca {
    font-size: 1.5em;
    margin-left: 35px;
  }

  #barre_de_recherche {
    height: 80px;
    width: 435px;
    border-radius: 30px;
    margin-top: 50px;
  }

  #rechercher {
    height: 78px;
    width: 280px;
    font-size: 1.5em;
    margin-left: 35px;
    margin-top: 5px;
  }

  #bouton_rechercher/*bouton version desktop*/ {
    display: none;
  }

  #bouton_rechercher2 /*travail sur l'icone rechercher*/ {
    font-size: 1.5em;
    background-color: #0065fc;
    color: white;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 25px;
    margin-left: -20px;
  }

  #filtre {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
  }

  #filtre ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 440px;
    height: 270px;
    margin-left: -40px;
  }

  #filtre li /**bordure des filtre**/ {
    height: 60px;
    border-radius: 50px;
  }

  .contouricone /**contour des icones FILTRE**/ {
    width: 75px;
    height: 75px;
    border-radius: 65px;
    margin-top: 7px;
    margin-left: 5px;
  }

  .placementF {
    margin-top: -20px;
  }

  #filtre a {
    margin-top: 30px;
  }

  #iconeEco {
    margin-top: 30px;
    margin-left: 27px;
  }

  #iconeFamille {
    margin-top: 30px;
    margin-left: 33px;
  }

  #iconeRomantique {
    margin-top: 33px;
    margin-left: 30px;
  }

  #iconeAnimaux {
    margin-top: 28px;
    margin-left: 29px;
  }

  #eco,
  #romantique {
    width: 230px;
  }

  #animaux {
    width: 290px;
  }

  #famille {
    align-self: flex-end;
    margin-top: -100px;
    width: 190px;
  }

  #information {
    width: 450px;
    font-size: 1.1em;
  }

  #info /**contour sphérique**/ {
    position: relative;
    border: rgb(217, 217, 217) solid 2px;
    width: 35px;
    height: 30px;
    border-radius: 50px;
    margin-right: 15px;
  }

  #information i /**icone info**/ {
    position: absolute;
    color: #0065fc;
    font-size: 12px;
    margin-left: 12px;
    margin-top: 8px;
  }

  /*ARTICLE ET ASIDE HEBERGEMENT*/

  #hebergement_et_populaire {
    display: flex;
    flex-direction: column-reverse;
  }

  /*ASIDE*/

  #populaire /**background**/ {
    margin-left: 0px;
    height: 650px;
  }

  /*HEBERGEMENT*/

  #hebergement /*background de la partie hebergement*/ {
    width: 420px;
    height: 1800px;
    background-color: white;
    margin-top: 10px;
  }

  #hebergement h2 {
    font-size: 1.6em;
  }

  #img_heberg /*placement des images dans le bloc*/ {
    flex-direction: column;
    width: 0px;
    height: 1750px;
    justify-content: space-around;
    margin-top: 0px;
    margin-left: -10px;
  }

  .img_logement /*image rogner*/ {
    width: 360px;
    height: 138px;
    margin-left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #hebergement figcaption {
    height: 90px;
    margin-left: 0px;
    font-size: 1.2em;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  #hebergement img /**dimensionnement du contenant de l'image**/ {
    width: 380px;
    margin-left: 0px;
  }

  .img_haut /*placement des images dans leur contenant*/ {
    margin-top: -65px;
  }

  #hotel_de_la_mer {
    margin-top: -130px;
  }

  #le_panier {
    margin-top: -30px;
  }

  #chez_amina {
    margin-top: -230px;
  }

  #hebergement figure {
    border-radius: 30px;
    box-shadow: 0px 0px 20px 10px #f2f2f2;
  }

  #hebergement p {
    font-size: 1.2em;
  }

  #populaire {
    border-radius: 0px;
  }

  /*ACTIVITE*/

  article h2 {
    font-size: 1.6em;
    margin-top: 20px;
    margin-left: 25px;
  }

  #bloc_activite1 {
    width: 355px;
    height: 750px;
    margin-left: 25px;
    margin-top: -40px;
  }

  #bloc_activite2 {
    width: 355px;
    height: 750px;
    margin-top: -25px;
    margin-left: 25px;
  }

  #bloc_activite_total {
    flex-direction: column;
    margin-top: 60px;
  }

  #activite /*placement de la partie activite*/ {
    margin-left: 0px;
    margin-top: 70px;
    width: 400px;
  }

  #activite figure {
    width: 360px;
    height: 200px;
    border-radius: 30px;
  }

  #vieux_port > div {
    height: 150px;
    width: 360px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #img_vieuxport {
    width: 380px;
    margin-top: 0px;
    margin-left: 0px;
  }

  #vieux_port > figcaption {
    font-size: 1.3em;
    height: 50px;
    padding-left: 60px;
  }

  #pomegues > div {
    height: 150px;
    width: 360px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #img_pomegues {
    width: 400px;
    margin-top: -220px;
  }

  #pomegues > figcaption {
    font-size: 1.3em;
    height: 50px;
    padding-left: 60px;
  }

  #frioul > div {
    height: 150px;
    width: 360px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #img_frioul {
    width: 500px;
  }

  #frioul > figcaption {
    font-size: 1.3em;
    height: 50px;
    padding-left: 60px;
  }

  #calanques > div {
    height: 150px;
    width: 360px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #img_calanques {
    width: 380px;
    margin-top: -50px;
    margin-left: 0px;
  }

  #calanques {
    margin-left: -5px;
  }

  #calanques > figcaption {
    font-size: 1.3em;
    height: 50px;
    padding-left: 60px;
  }

  #garde > div {
    height: 150px;
    width: 360px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #img_garde {
    width: 600px;
  }

  #garde > figcaption {
    font-size: 1.3em;
    height: 50px;
    padding-left: 60px;
  }

  #longchamp > div {
    height: 150px;
    width: 360px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #img_longchamp {
    width: 380px;
    margin-top: -50px;
    margin-left: -10px;
  }

  #longchamp > figcaption {
    font-size: 1.3em;
    height: 50px;
    padding-left: 60px;
  }

  /*FOOTER VERSION MOBILE*/

  footer {
    width: 400px;
    height: 630px;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 1.2em;
  }

  footer > div {
    flex-direction: column;
    width: 400px;
  }
}
