/**GLOBAL**/

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Gras";
  src: url("Raleway-Bold.ttf") format("truetype");
}

body {
  font-family: Raleway;
}
#taille_global {
  width: 1400px;
  margin: auto;
}

.gras {
  font-weight: bold;
}

a:visited {
  color: black;
}

/**Header**/

header {
  position: relative;
}

#logo_et_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#logo {
  width: 120px;
}

#menu a {
  margin-right: 60px;
  text-decoration: none;
  font-size: 1.1em;
  color: #0065fc;
}

#lien2 {
  color: black;
}

/**Header Barre de recherche**/

#titre {
  margin-top: 35px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: -9px;
  font-family: "Raleway Gras";
}

#barre_de_recherche {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  width: 415px;
  height: 55px;
  border-radius: 20px;
}

#loca {
  font-size: 1.2em;
  margin-left: 20px;
}

#rechercher {
  border-color: #f2f2f2;
  font-size: 1.2em;
  width: 225px;
  height: 55px;
  margin-left: 20px;
}

#bouton_rechercher {
  font-size: 1.2em;
  background-color: #0065fc;
  color: white;
  height: 55px;
  width: 130px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}

@media all and (min-width: 600px) {
  #bouton_rechercher2 {
    display: none;
  }
}

/**Header FILTRES**/

#filtre {
  display: flex;
  font-weight: bold;
  margin-top: 25px;
}

#filtre h2 {
  font-size: 1.2em;
  margin-right: -15px;
}

#filtre ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 900px;
  height: 50px;
  margin-top: 3px;
}

#filtre li /**bordure des filtre**/ {
  border: solid rgb(217, 217, 217) 2.5px;
  font-size: 1.2em;
  height: 30px;
  padding-top: 10px;
  border-radius: 40px;
}

.placementF /**placement icone et texte filtre**/ {
  display: flex;
  margin-top: -13px;
  margin-left: -10px;
}
.contouricone /**contour des icones FILTRE**/ {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #deebff;
}

#filtre i /**icones de la partie filtre**/ {
  color: #0065fc;
}

#iconeEco {
  margin-top: 13px;
  margin-left: 10px;
}

#iconeFamille {
  margin-top: 13px;
  margin-left: 15px;
}

#iconeRomantique {
  margin-top: 15px;
  margin-left: 13px;
}

#iconeAnimaux {
  margin-top: 14px;
  margin-left: 12px;
}

#filtre a {
  text-decoration: none;
  margin-top: 12px;
  margin-left: 15px;
  color: black;
}

#filtre a:hover {
  color: brown;
}

#eco,
#romantique {
  width: 180px;
}

#famille {
  width: 140px;
}

#animaux {
  width: 230px;
}

#information {
  display: flex;
  align-items: center;
  width: 480px;
  margin-top: -5px;
}

#info /**contour sphérique**/ {
  position: relative;
  border: rgb(217, 217, 217) solid 2px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

#information i /**icone info**/ {
  position: absolute;
  color: #0065fc;
  font-size: 12px;
  margin-left: 8px;
  margin-top: 4px;
}

/**Article**/

#hebergement a {
  text-decoration: none;
}

#hebergement h2 {
  font-family: "Raleway Gras";
}

#hebergement /**background**/ {
  position: relative;
  background-color: #f2f2f2;
  width: 890px;
  height: 640px;
  border-radius: 20px;
}

#bloc_hebergement /**bloc hebergement marseille**/ {
  position: absolute;
  margin-left: 35px;
  margin-top: 20px;
}

#hebergement figure /**bloc image+commentaire**/ {
  margin-left: -5px;
}

#img_heberg /**placement des img sur 2 lignes**/ {
  display: flex;
  flex-wrap: wrap;
  width: 865px;
  margin-top: -15px;
}

#hebergement img /**dimensionnement contenant de l'image**/ {
  width: 240px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img_haut /**placement de l'image dans leur conenant**/ {
  margin-top: -10px;
}

#hotel_de_la_mer {
  margin-top: -50px;
}

#chez_amina {
  margin-top: -120px;
}

.img_logement /**image rogner**/ {
  width: 240px;
  height: 120px;
  overflow: hidden;
  border: white solid 6px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#hebergement figcaption /**gestion description de l'image**/ {
  height: 80px;
  margin-top: -10px;
  padding-top: 12px;
  padding-left: 20px;
  font-size: 1em;
  line-height: 1.5em;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

article i {
  font-size: 0.8em;
}

.blue_stars {
  color: #0065fc;
}

.grey_stars {
  color: rgb(217, 217, 217);
}

/**Aside les POPULAIRES**/

#hebergement_et_populaire {
  margin-top: 30px;
  display: flex;
}

#populaire /**background**/ {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 40px;
  width: 430px;
}

#titre_populaire {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#titre_populaire i /**positionnement de l'icone**/ {
  margin-left: 25px;
  margin-top: 27px;
  font-size: 1.3em;
}

aside img /**bordure des images**/ {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#img_soleil {
  width: 220px;
  margin-left: -60px;
}

#img_coeur {
  width: 200px;
  margin-left: -30px;
}

#img_bleu {
  width: 150px;
  margin-top: -50px;
  margin-left: -10px;
}

.img_populaire /**image rogner**/ {
  width: 160px;
  height: 148px;
  overflow: hidden;
  border: white solid 6px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

aside figure {
  display: flex;
}

aside figcaption /**travail sur la description de l'image**/ {
  width: 250px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 20px;
  padding-left: 15px;
  line-height: 1.6em;
}

.bloc_pop /**positionnement des blocs**/ {
  margin-left: 30px;
  margin-top: 5px;
  height: 160px;
}

.text_populaire .gras /**taille du nom de l'image**/ {
  font-size: 1.1em;
}

.etoile_populaire /**placement des etoiles**/ {
  margin-top: 20px;
}

aside a {
  text-decoration: none;
}

/**Article ACTIVITES**/

#activite a {
  text-decoration: none;
}

/**ACTIVITE, Vieux port, Pomegues, Frioul**/

#bloc_activite1 {
  width: 700px;
  height: 503px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#vieux_port > div /*dimensionnement de l'image*/ {
  width: 320px;
  height: 410px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#img_vieuxport {
  margin-left: -180px;
  margin-top: -20px;
}

#vieux_port > figcaption {
  font-size: 1.1em;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

#vieux_port {
  margin-left: 0px;
  box-shadow: 5px 10px 10px #f2f2f2;
  border-radius: 20px;
}

#pomegues > div /*dimensionnement de l'image*/ {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#img_pomegues {
  margin-top: -150px;
}

#pomegues > figcaption {
  font-size: 1.1em;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

#pomegues {
  box-shadow: 5px 10px 10px #f2f2f2;
  border-radius: 20px;
}

#frioul > div /*dimensionnement de l'image*/ {
  width: 300px;
  height: 105px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#img_frioul {
  width: 400px;
  margin-top: -60px;
  margin-left: -100px;
}

#frioul > figcaption {
  font-size: 1.1em;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

#frioul {
  margin-top: 45px;
  box-shadow: 5px 10px 10px #f2f2f2;
  border-radius: 20px;
}

#pomFrioul /*margin entre les petites image et la grande*/ {
  margin-left: -45px;
}

/**ACTIVITE, Calanques, Longchamp, Garde**/

#bloc_activite2 {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#calanques > div /*dimensionnement de l'image*/ {
  width: 320px;
  height: 410px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#img_calanques {
  width: 800px;
  margin-left: -250px;
  margin-top: -50px;
}

#calanques > figcaption {
  font-size: 1.1em;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

#calanques {
  margin-left: 0px;
  box-shadow: 5px 10px 10px #f2f2f2;
  border-radius: 20px;
}

#garde > div /*dimensionnement de l'image*/ {
  width: 300px;
  height: 165px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#img_garde {
  margin-left: -150px;
  margin-top: -30px;
}

#garde > figcaption {
  font-size: 1.1em;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

#garde {
  box-shadow: 5px 10px 10px #f2f2f2;
  border-radius: 20px;
  margin-top: 20px;
}

#longchamp > div /*dimensionnement de l'image*/ {
  width: 300px;
  height: 145px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#img_longchamp {
  width: 300px;
  margin-top: -30px;
}

#longchamp > figcaption {
  font-size: 1.1em;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

#longchamp {
  box-shadow: 5px 10px 10px #f2f2f2;
  border-radius: 20px;
  margin-top: 35px;
}

#bloc_activite2 > #longchamp {
  order: 2;
}

#bloc_activite2 > #garde {
  order: 3;
}

#gardeLomp {
  margin-left: -45px;
}

#bloc_activite_total {
  display: flex;
}

#activite {
  margin-top: 60px;
}

/**FOOTER**/

footer /*background*/ {
  position: relative;
  width: 1450px;
  height: 230px;
  margin-left: -40px;
  margin-top: 60px;
  background-color: #f2f2f2;
}

footer > div {
  position: absolute;
  width: 1100px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

footer ul {
  list-style-type: none;
  margin-left: -40px;
  line-height: 2em;
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
}

footer h2 {
  font-size: 1.3em;
}
